extends layout

block content
    section(id="listings")
       h3.section-title Check out the top apartments 
            .section-title-divider
             p.section-description
        div.listings
            .row
                - for (let i = 0; i < data.length; i++)
                    - if (data[i].enclosure)
                        .col-sm-6.col-md-4.card
                            .thumbnail
                                img(src=data[i].enclosure.resource, alt='apartment picture', style="max-height:6em")
                                .caption
                                h4!= data[i].title[0]
                                //- p.card-description!= data[i].description.substr(0, 250)
                                p
                                    a.link(href=data[i].source) More Detail